
ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/93437132-36e7-4228-a894-0eabb5ea0c72.vsidx
ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/eebb69a3-9615-4efd-adff-5990504db273.vsidx
ConsoleApp1/.vs/ConsoleApp1/v17/.suo
ConsoleApp1/ConsoleApp1/Properties/AssemblyInfo.cs
ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/93437132-36e7-4228-a894-0eabb5ea0c72.vsidx
ConsoleApp1/.vs/ConsoleApp1/v17/.suo
